/* Large Screen */

@media only screen and (min-width: 1400px) {
	header {
		height: 120px;
	}

	h1 {
		font-size: 3rem;
	}

	h2, h3 {
		padding: 30px;
		font-size: 2.5rem;
	}

	p {
		font-size: 1.3rem;
	}
	nav {
		padding: 20px;
		margin-left: 200px;
	}
	
}

/* Mobile */

@media only screen and (max-width: 800px){

	p {
		padding: 0 10px 20px 10px;
	}

	body{
		min-width: 100px;
	}

	header {
		height: 130px;
	}

	main {
		top: 130px;
	}

	nav {
	}

	nav div {
		float: none;
		margin: 0;
	}

	nav table {
		margin: 0;
		margin-left: 20px;
	}

	nav td{
		display: table-row;
		text-align: left;
		font-size: .7rem;
	}

	body{
		font-size: .8rem;
	}

	.infopane td {
		width: 100%;
	}

	.infopane tr {
		display: inline-flex;
		flex-direction: column;
	}

	.infopane p {
		padding: 0 15px;
	}

	.infopane h3 {
		padding: 10px;
	}

	.infopane img {
		padding-top: 10px;
	}

	.aboutpane h2 {
		padding: 10px;
	} 
	.aboutpane p {
		padding:  0 15px 15px 15px;
	}

	.largemap {
		display: none;
	}

	.smallmap {
		display: block;
	}

	h2, h3 {
		font-size: 1.5rem;
	}
}
