* {
	margin: 0;
	padding: 0;
}

body {
	min-width: 300px;
	min-height:1500px;
	background-color: #000;
	background: linear-gradient(to bottom right, rgba(0,0,0,1), rgba(150,0,0,1), rgba(150,150,0,1));
	color: white;
	font-family: 'Raleway', sans-serif;
}

header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	background: #111;
}

header img {
	height: 100px;
	float: left;
}

nav {
	margin: 20px;
}

nav li{
	float: left;
	display: inline-block;
	padding: 5px 10px;
}

main {
	position: relative;
	top: 80px;
}

footer {
	background-color: rgba(0,0,0,1);
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: right;
}

footer p {
	font-size: 10px;
	font-family: monospace;
	margin: 0;
}
	

h1 {
	font-family: 'Black Ops One', cursive;
	font-size: 50px;
	float: left;
	margin: 5px 50px;
}

h2 {
	margin: 20px;
}

h2, h3 {
	font-family: 'Black Ops One', cursive;
	font-weight: 100;
}

h3 {
	text-decoration: underline;
	margin: 5px;
}

p {
	margin: 20px;
}

.infopane {
	width: 80%;
	padding: 20px;
	margin: 20px auto;
	background-color: black;
	background-color: rgba(0,0,0,0.8);
	border-radius: 20px;
	border: 2px solid grey;
}

figure img {
	border-radius: 5px;
	height: 150px;
	margin: 10px;
}

figcaption {
	position: relative;
	top: -1.5em;
	left: 2em;
	font-size: 10px;
	font-weight: bold;
	opacity: 0.8;
	color: #000;
}

